@import "./dashboardDetailPage";
@import "./showDataBox";
@import "./nepalmap";

// .dashboard-container {
//   // padding-top: 80px;
//   padding-left: 260px;

  .dashboard {
    // padding: 20px;

    &-cards{
      margin-top: 20px;
      display:grid;
      grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
      column-gap:20px;
      row-gap:30px;
    }
  }
// }
